#aggregator-container {
  font-size: calc(20px + (12) * ((100vw - 300px) / (1300)));
}

.vote_on_comment:hover {
  cursor: pointer;
}

.remove-reply {
  float: right;
  margin-left: 1em;
  font-size: 1em;
  line-height: 1em;
}

.comment-node {
  list-style-type: none;
}

.reply-to-comment:hover {
  cursor: pointer;
}
textarea {
  padding-top: 5px;
}

#loginlogout {
  position: fixed;
  top: 1em;
  right: 1em;
}

.aggregator-entry-wrapper {
  width: 50%;
  height: 14.5em;
  float: left;
  margin-bottom: .2em;
  margin-top: .2em;
  /*border: 1px solid black;*/
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  font-size: .5em;
  line-height: .5em;
}

@media screen and (min-width: 800px){
   .aggregator-entry-wrapper{
     width: 33.3333%;
   }
 }

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.aggregator-entry-link {
  float: left;
  text-align: left;
  /* .aggregator-entry-wrapper controls em size */
  font-size: 1.5em;
  text-decoration: none;
  line-height: 1.2em;
  font-style: italic;
  /*border: 1px solid red;*/
}

.post-type {
  font-weight: bold;
}

.short {
  font-size: 1.8em;
}

.middle {
  font-size: 1.6em;
}
.long {
  font-size: 1.4em;
}

.longer {
  font-size: 1.3em;
}

.longest {
  font-size: 1.2em;
}

.entry-items-wrapper {
  clear: both;
  float: left;
  position: relative;
  height: 100%;
  font-size: 1em;
}

.aggregator-item {
  float: left;
  clear: left;
  font-size: .9em;
  line-height: 1.3em;
  display: inline;
  float: left;
}


.aggregator-karma {
}

.upvote_entry {
  text-decoration: none;
  }

.bottom-right {
  float: right;
  position: absolute;
  bottom: 1.3em;
  right: 2em;
  font-size: 2em;
}

.upvote_entry:hover {
  cursor: pointer;
}

#more_aggregator_posts {
  text-align: center;
  line-height: 2em;
  margin: 2em auto;
  height: 2em;
  /*border: 1px;*/
  width: 50vw;
}

#more_aggregator_posts:hover {
  cursor: pointer;
}

/* Nested lists */
.indented-list {
  padding-left: 20px;
}

#submit-post p input {
  max-width:1000px !important;
}
