.agg-item-voter {
  width: 40px;
  height: 70px;
  float: left;
  text-align: center;
}
.agg-vote {
  width: 0px;
  height: 0;
  border-color: transparent transparent #D3D3D3 transparent;
  border-style: solid;
  border-width: 9px;
  border-bottom-width: 17px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
}
.agg-vote:hover {
  border-bottom-color: #7BBA22;
  cursor: pointer;
}
.agg-post-title {
  font-size: 18px;
}
.agg-item-voter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #999999;
  border-bottom: none;
}
.agg-item-content {
  height: 70px;
  width: calc(100% - 50px);
  float: left;
  padding: 10px;
  border: 1px solid #999999;
  border-left: none;
  border-bottom: none;
}
.agg-entry-wrapper:last-child .agg-item-content, .agg-entry-wrapper:last-child .agg-item-voter {
  border-bottom: 1px solid #999999;
}
.agg-post-meta, .agg-post-title {
  width: 100%;
}
.agg-post-type {
  font-variant: small-caps;
  font-size: 20px;
}
.host-url {
  color: #999999;
  font-size: 15px;
}
.agg-time-since-post, .agg-op, .agg-op a {
  color: #999999;
  font-size: 13px;
  font-weight: 300;
}
.agg-op {
  margin-left: 1px;
}
.agg-comments-link{
  color: #999999;
  font-size: 15px;
  font-weight: 900;
  margin-left: 5px;
  margin-right: 5px;
}
.agg-tags a {
  margin-left: 2px;
  margin-right: 2px;
  color: #91056D;
  text-decoration: underline;
}
.agg-user-is-op a {
  color: #FF6F33;
}
.agg-post-types {
  display: flex;
}