.ifm-container {
  margin-bottom: 10px;
}
.ifm-item-voter {
  width: 40px;
  height: 54px;
  float: left;
  text-align: center;
}
.ifm-vote {
  width: 0px;
  height: 0;
  border-color: transparent transparent #D3D3D3 transparent;
  border-style: solid;
  border-width: 6px;
  border-bottom-width: 12px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
}
.vote_on_comment .ifm-vote {
  border-width: 6px;
  border-bottom-width: 11px;
  float: left;
  margin-right: 4px;
}
.ifm-vote.upvoted {
  border-bottom-color: #7BBA22;
  cursor: pointer;
}
.ifm-vote:hover {
  border-color: transparent transparent #999999 transparent;
  cursor: pointer;
}
.ifm-vote.upvoted:hover {
  opacity: .6;
  border-bottom-color: #7BBA22;
}
.ifm-post-title {
  font-size: 14.5px;
}
.ifm-item-voter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #999999;
  border-bottom: none;
}
.ifm-item-content, .ifm-item-no-content {
  height: 54px;
  width: calc(100% - 50px);
  float: left;
  padding-left: 10px;
  padding-right: 4px;
  padding-top: 0;
  border: 1px solid #999999;
  border-left: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ifm-item-no-content {
  border: 1px solid #999999;
  width: 99%;
  margin-bottom: 100px;
  padding-left: 20px;
}
.ifm-entry-wrapper:nth-last-child(2) .ifm-item-content, .ifm-entry-wrapper:nth-last-child(2) .ifm-item-voter {
  border-bottom: 1px solid #999999;
}
.ifm-post-meta, .ifm-post-title {
  width: 100%;
  line-height: 1.1;
}
.ifm-post-meta {
  padding-top: 2px;
}
.ifm-post-type {
  font-variant: small-caps;
}
.ifm-post-type, .aggpost-type-nav-item {
  font-variant: small-caps;
  font-size: 15px;
}
.ifm-post-types .aggpost-type-nav-item, .ifm-post-types .ifm-submit-post {
  margin-top: 8px;
  margin-bottom: 8px;
}
.ifm-submit-post {
  margin-bottom: 8px;
}
.ifm-submit-post:hover {
  color: #7BBA22;
}
.aggpost-type-nav-item.active a {
  color: #91056d;
}
.host-url {
  color: #999999;
  font-size: 13px;
}
.ifm-time-since-post, .ifm-op, .ifm-op a {
  color: #999999;
  font-size: 13px;
  font-weight: 300;
}
.ifm-op {
  margin-left: 1px;
}
.ifm-comments-link{
  color: #999999;
  font-size: 13px;
  font-weight: 900;
  margin-left: 5px;
  margin-right: 5px;
}
.comment-post-content-wrapper {
  width: 50%;
  margin: 10px 0 20px 0px;
  padding-left: 10px;
  position: relative;
  background: rgba(123,186,34, .05);
  padding: 20px;
}
.comment-post-content {
  color: #333333;
}
.view-user-posts, .ifm-change-password, .ifm-logout {
  text-decoration: underline;
}
.csort-login-error {
  color: #FF6F33;
  background: white;
}
.ifm-tags a {
  margin-left: 2px;
  margin-right: 2px;
  color: #91056D;
  text-decoration: underline;
}
.ifm-user-edit {
  margin-top: 15px;
}
.ifm-user-edit a {
  text-decoration: underline;
}
.ifm-user-is-op a, .ifm-user-is-op a:visited {
  color: #FF6F33;
}
.ifm-user-is-op a:hover {
  opacity: .8;
}
.ifm-about-user {
  width: 60%;
  background: #eeeeee;
  padding: 20px;
  margin-top: 5px;
}
.ifm-nav {
  width: 99%;
  border: 1px solid #999999;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
}
.ifm-term-description {
  padding: 5px;
  padding-left: 20px;
  border: 1px solid #999999;
  width: 99%;
  border-bottom: none;
}
.ifm-searchform {
  width: 30%;
}
.ifm-searchform .ifm-search-wrapper {
  display: flex;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
input[type="submit"].ifm-search-submit {
  font-size: 1rem;
  padding: 0;
  float: right;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;

}
.ifm-searchform input.ifm-query-input {
  border-bottom: none;
  background: #eeeeeeee;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
}
.ifm-container .ifm-nothing-here {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #999999;
  border-top: none;
  padding: 20px;
}
.ifm-post-types {
  display: flex;
}
.ifm-submit-post a {
  font-size: 18px;
}
.ifm-submit-post a, .ifm-submit-post a:visited  {
  color: #7bba22;
}
.edit-submit {
  margin-top: 10px;
}
.ifm-load-more {
  text-align: left;
  color: #7bba22;
  font-size: 18px;
  height: 50px;
  margin-top: 10px;
}
.ifm-load-more:hover {
  cursor: pointer;
  opacity: .8;
}
.indented-list .comment-node {
  display: block;
  margin-top: 13px;
}
.reply-to-comment {
  text-decoration: underline;
}
.reply-to-comment:hover {
  cursor: pointer;
}
.comment-node .commenter, .comment-node .comment-time {
  display: inline;
  color: #999999;
  font-size: 13px;
  font-weight: 300;
}
.ifm-comment {
  width: 50%;
  color: #333333;
  letter-spacing: .5px;
  font-size: 14px;
}
#reply-to-post input[type="submit"] {
  margin-bottom: 20px;
  display: block;
}
#account-details #user-email, #account-details #user-about {
  width: 50%;
}
#account-details label {
  display: block;
}
.user-account-details h5 {
  margin: 0;
  margin-top: 10px;
}
.user-account-details .view-user-posts {
  margin-top: 20px;
}
.ifm-change-password, .ifm-logout {
  display: block;
}
.comment-content, .reply-to-comment, .comment-reply-container {
  margin-left: 16px;
}
#submit-post {
  width: 60%;
}
#submit-post .must-be-logged-in {
  color: #E82C0C;
}
#submit-post .must-be-logged-in:hover {
  opacity: .7;
}
.submit-reply:hover {
  cursor: pointer;
}
.logged-in-user {
  color: #FF6F33;
  font-weight: 300;
}
.lcs_wrap {
  display: inline-block;  
  direction: ltr;
  height: 28px;
    vertical-align: middle;
}
.lcs_wrap input {
  display: none;  
}
.lcs_switch {
  display: inline-block;  
  position: relative;
  width: 73px;
  height: 28px;
  border-radius: 30px;
  background: #ddd;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;  
  -ms-transition:   all .2s ease-in-out; 
  transition:     all .2s ease-in-out; 
}
.lcs_cursor {
  display: inline-block;
  position: absolute;
  top: 3px; 
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  -webkit-transition: all .2s linear;  
  -ms-transition:   all .2s linear; 
  transition:     all .2s linear; 
}
.lcs_label {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  width: 33px;
  top: 5px;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out .1s;  
  -ms-transition:   all .2s ease-in-out .1s;   
  transition:     all .2s ease-in-out .1s;   
}
.lcs_label.lcs_label_on {
  left: -70px;
  z-index: 6; 
}
.lcs_label.lcs_label_off {
  right: -70px;
  z-index: 5; 
}
/* on */
.lcs_switch.lcs_on {
    box-shadow: 0 0 2px #75b936 inset;
    background: #579022;
}
.lcs_switch.lcs_on .lcs_cursor {
  left: 48px;
}
.lcs_switch.lcs_on .lcs_label_on {
  left: 10px; 
  opacity: 1;
}
/* off */
.lcs_switch.lcs_off {
  background: #75b936;
  box-shadow: 0px 0px 2px #579022 inset;  
}
.lcs_switch.lcs_off .lcs_cursor {
  left: 3px;
}
.lcs_switch.lcs_off .lcs_label_off {
  right: 10px;
  opacity: 1; 
}
/* disabled */
.lcs_switch.lcs_disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);  
  cursor: default;
}
@media (max-width: 767px) {
  .ifm-item-no-content {
    width: 100%;
    border: none;
  }
  #account-details #user-email, #account-details #user-about {
    width: 100%;
  }
  .comment-post-content-wrapper {
    width: 100%;
  }
  .ifm-post-type, .aggpost-type-nav-item {
    font-size: 15px;
  }
  .aggpost-type-nav-item {
    float: left;
  }
  .ifm-container {
    width: 100%;
  }
  .ifm-post-title {
    font-size: 14px;
  }
  .ifm-item-content {
    padding: 0 4px 0 7px;
    width: calc(100% - 40px);
    border-right: none;
    line-height: 16px;
  }
  .ifm-item-voter {
    border-left: none;
  }
  .host-url {
    font-size: 10px;
    line-height: 10px;
  }
  .ifm-nav {
    width: 100%;
    border-left: none;
    border-right: none;
    display: block;
  }
  .ifm-post-types {
    display: block;
  }
  .ifm-searchform {
    width: 100%;
  }
  .ifm-searchform input.ifm-query-input {
    margin-left: 5px;
  }
  .ifm-comment {
    width: 100%;
  }
}